@charset "UTF-8";

body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: green;
    height: 40px;
    width: 100;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: green;
    height: 1200px;
    width: 1885px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}