@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yeon+Sung&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    margin: auto;
  
}

/* Cabeçalho */
header{
    background: linear-gradient(#641e00f2, #d13f00);
    min-height: 258px;
    padding-top: 30px;
    margin: auto;
}

header h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 5px;
    margin: 0px;
}

header h2 {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 5px;
    margin: 0px;
}

header p {
    font-family: 'Raleway', sans-serif;
    font-family: 'Yeon Sung', cursive;
    margin: 0px;
    padding: 7px;
    text-align: right;
    color: #fff;
    font-size: 1.5em;
}



nav {
    padding: 10px;
    background-color: #d13f00;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.514);
}

nav>a {
    color: #fffefe;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav>a:hover {
    background-color: #882900;
    color: rgba(255, 255, 255, 0.801);
}

main > h1 {
    background-image: linear-gradient(to bottom, #d13f00, #7c381b);
    font-family: 'Righteous', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
}

/* Grid de produtos */
.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.products-container {
    max-width: auto;
    margin: 0 auto;
}

.card {
    width: 30%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;
}

.product-image {
    height: 280px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;

}

#img-1 {
    background-image: url('../imagens-produtos/produto01.png');
}

#img-2 {
    background-image: url('../imagens-produtos/produto02.png');
}

#img-3 {
    background-image: url('../imagens-produtos/produto03.png');
}

#img-4 {
    background-image: url('../imagens-produtos/produto04.png');
}

#img-5 {
    background-image: url('../imagens-produtos/produto05.png');
}

#img-6 {
    background-image: url('../imagens-produtos/produto06.png');
}

#img-7 {
    background-image: url('../imagens-produtos/produto07.png');
}

#img-8 {
    background-image: url('../imagens-produtos/produto08.png');
}

#img-9 {
    background-image: url('../imagens-produtos/produto09.png');
}

#img-10 {
    background-image: url('../imagens-produtos/produto10.png');
    
}

#img-11 {
    background-image: url('../imagens-produtos/produto11.png');
}

#img-12 {
    background-image: url('../imagens-produtos/produto12.png');
}

#img-13 {
    background-image: url('../imagens-produtos/produto13.png');
}

#img-14 {
    background-image: url('../imagens-produtos/produto14.png');
}

#img-15 {
    background-image: url('../imagens-produtos/produto15.png');
}

#img-16 {
    background-image: url('../imagens-produtos/produto16.png');
}

#img-17 {
    background-image: url('../imagens-produtos/produto17.png');
}

#img-18 {
    background-image: url('../imagens-produtos/produto18.png');
}

h3 {
    margin-bottom: 10px;
    color: #ff4d00;
    font-size: 24px;
}

p#codigo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ff6600;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #973d00;
}

aside {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

aside > h3 {
    background-color: #ff4d00bb;
    color: white;
    padding: 10px;
    margin: -9px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside > p {
    text-align: center;
}

aside > p > img {
    max-width: 473px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    background-color: #882900;
    color: rgb(255, 255, 255);

}

